@use 'variables' as v;
@use 'mixins' as m;

.text-center {
  text-align: center;
}

.bg-primario {
  background-color: v.$primario;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;

  @include m.desktopXL {
    max-width: 160rem;
  }
}
